<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{title}}!!
  </h1>
  <h3>My Heroes</h3>
</div>

<div>

  <ul class="heroes">
    <li *ngFor="let hero of heroes" 
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
  </ul>
</div>

<div *ngIf="selectedHero">
  <h2>{{selectedHero.name}} Details</h2>
  <div><label>ID:</label>{{selectedHero.id}}</div>
  <div>
    <label>Name:</label>
    <input [(ngModel)]="selectedHero.name" placeholder="name">  
  </div>

</div>

